@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.hoverPulsate {
	transform: scale(100%);
	transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hoverPulsate:hover {
	transform: scale(120%);
}

.clearTextButton {
	animation: rotateAndAppear 0.5s;
}

@keyframes rotateAndAppear {
	0% {
		transform: rotateZ(-90deg);
		opacity: 0;
	}

	100% {
		transform: rotateZ(0deg);
		opacity: 1;
	}
}

.gridProducts {
	grid-template-columns: repeat(auto-fit, 20rem);
}

.gridFiltersTable {
	grid-template-columns: max-content repeat(4, minmax(0, 1fr));
}

@media screen and (max-width: 1024px) {
	.responsiveFilter {
		position: fixed;
		width: 100%;
		bottom: 0;
		overflow: scroll;
		left: 0;
		height: 35vh;

		background-color: gray;
		animation: moveuP 0.2s ease-in;
	}
}

@keyframes moveuP {
	0% {
		transform: translateY(125%);
	}

	100% {
		transform: translateY(0%);
	}
}

[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1;
	text-align: center;
	border: 2px solid rgb(20 184 166);
	border-radius: 4px;
	transition: all 0.4s;
}

[type="checkbox"]:not(:checked) + label::before {
	content: "";
}

[type="checkbox"]:not(:checked):hover + label::before {
	content: "";
	box-shadow: inset 0rem 0rem 0.5px 3px rgb(20, 184, 166, 0.4);
}

[type="checkbox"]:checked + label::before {
	content: "✔";
	box-shadow: inset 0rem 0rem 0px 1rem rgb(20 184 166);
}
